<%- include("partials/header.ejs") %>

<img class="profile" src="images/profile.png" alt="cat profile">
<p>
  <body>
    <h1>Kevin Song</h1>
    <h3>Full Stack Developer at Strut Learning🎯</h3>
    <p>
      cwsong95@gmail.com | (636)634-7188 | kevinsong-portfolio.netlify.app | linkedin.com/in/chiwon-song-950823
    </p>

    <h2>Skills</h2>
    <hr />
    <p>
      <b>Strong:</b> JavaScript(ES6+), Java, Script Ruby, Ruby on Rails, Ember.js, React, TypeScript, Python, C, C++, Jenkins, Next.js, Redux,
SQL(PostgreSQL/MySQL), Hibernate, HTML, CSS/SASS, Webpack, RESTful APIs, CI/CD, Git, UX/UI, Agile(Scrum-JIRA),
Firebase, Sanity, Microservices, Deployment, Continuous Integration, Networking, GitHub, Twig, Design Patterns, Open Source,
Algorithms, Security, Unit Testing, OOP, Docker, Availability, Scalability, Webhook, WordPress
<br />
<b>Experienced:</b> R, WebSockets, UDP, Geospatial Library (from Uber’s H3), Twilio SMS API, Authentication(Cookies, OAuth, bcrypt),
AWS, Travis CI
    </p>

    <h2>Experiences</h2>
    <hr />
    <h3>CBE Strut Inc., Washington, DC | Software Engineer (Full Stack) 2019-Present</h3>
    <ul>
      <li>Created and implemented Ruby and React modules into complex enterprise computer application framework</li>
      <li>Designed and Architected multiple pages API reference website using React to leverage server-side rendering(SSR) and
        static site generation(SSG) for faster client-side loading times and easier deployment</li>
      <li>Created and modified applications based on published best language practices and coding standards for project
        development; also worked with promise to leverage the developers’ familiarity and JavaScript ES6 features</li>
      <li>Broke down the large functionalities to micro services for quick turn around and less impact</li>
      <li>Developed test and quality assurance plans and automations (harness) to improve product quality and efficiency, leading to
        a 45% reduction in testing time.</li>
      <li>Leveraged best practices to conduct testing that minimizes security risks, defects and maximizes optimal functionality</li>
      <li>Worked closely with software team on implementation and algorithmic modifications, considering performance/area/
        latency tradeoffs, which Improved concurrency and response times up to 23% by fixing multi-threading issues in user
        session control module.</li>
      <li>Led team meetings and project discovery to drive Agile projects from requirements to deployment</li>
      <li>Worked within an agile team and helped prioritize and scope feature requests to ensure that the biggest impact features were
        take cared on first</li>
      <li>Collaborated with product, development and support teams to translate business requirements into technical specifications</li>
      <li>Led the development of a real-time messaging tool for an academic platform, using Node.js and React. Showcased full-
        stack proficiency by designing the React interface, enabling seamless communication. Integrated Twilio API for robust
        messaging, ensuring security through the Node.js backend. (most recent project)</li>
    </ul>
    <h3>Samsung Research | Full Stack Developer Intern 2017</h3>
    <ul>
      <li>Designed and developed RESTful API Services for the enterprise product, which improved response time up to 15%</li>
      <li>Developed numerous new EmberJS components for the customer-facing web app which improved the user experiments</li>
    </ul>

    <h2>Projects</h2>
    <hr />
    <h3>Innovative Full Stack Development and User-Centric Design for a Streaming Application</h3>
    <ul>
      <li>Developed and deployed a comprehensive web application resembling Netflix, utilizing technologies such as React,
        Firebase, Redux, and Styled Components.</li>
      <li>Created a dynamic interface that retrieves and categorizes movies and TV shows through the integration of the TMDB API.</li>
      <li>Implemented features to showcase trailers for selected content using react-youtube and movie-trailer libraries, enhancing
        the overall user experience.</li>
    </ul>
    <h3>AR and VR Experiences</h3>
    <ul>
      <li>Created and designed an empathy building social experience designed to alert people to the struggles of 3rd world
        sweatshop workers</li>
      <li>Implemented a novel AR shopping experience using HoloLens, contrasted with a VR immersion chamber experience using
        C# to show the social experience</li>
      <li>Implemented routers and controllers in Node Express to efficiently handle requests and access API</li>
    </ul>

    <h2>Education</h2>
    <hr />
    <h3>Virginia Tech | B.S., Computer Science Engineering 2018</h3>
    <p>
      Relevant Coursework: Data Structures, Data Structure and Algorithms, Human Computer Interaction, AR and VR
    </p>

    <h2>INTERESTS</h2>
    <hr />
    <p>Intermittent fasting | cold brew | Measure what matters | George Owell’s Animal farm | Business mindset | UX/UI | machine language |
      self-improvement | golf | jog | travel</p>
  </body></p>

  <%- include("partials/footer.ejs") %>
